.edit-profile {
  form {
    div {
      display: flex;
      flex-direction: column;
      gap: 5px;
      position: relative;

      input {
        border: 1px solid #bae6fd; // cyan-100
        border-radius: 6px;
        padding: 10px;
        font-size: 0.8rem;
        background-color: #ecfeff; // cyan-50
        outline: none;
        min-width: 250px;
        color: #0e7490; // cyan-700
        font-weight: 500;

        &:hover {
          border-color: #67e8f9; // cyan-300
        }
      }

      textarea {
        border: 1px solid #bae6fd;
        border-radius: 6px;
        padding: 10px;
        font-size: 0.8rem;
        background-color: #ecfeff;
        outline: none;
        min-width: 250px;
        color: #0e7490;
        font-weight: 500;

        &:hover {
          border-color: #67e8f9;
        }
      }

      label {
        position: absolute;
        top: -10px;
        left: 10px;
        background-color: #fff;
        border-radius: 10px;
        color: #64748b; // slate-500
        font-size: 13px;
        pointer-events: none;
        padding: 0px 4px;
        font-weight: 500;
      }
    }

    select {
      border: 1px solid #bae6fd;
      border-radius: 6px;
      padding: 10px;
      font-size: 0.8rem;
      background-color: #ecfeff;
      outline: none;
      min-width: 250px;
      color: #0e7490;
      font-weight: 500;

      &:hover {
        cursor: pointer;
        border-color: #67e8f9;
      }
    }
  }
}
