#login-page {


    form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        border: 1px solid rgb(219, 219, 219);

        h2 {

            font-weight: 600;
            font-size: 2.2rem;
            align-self: center;
        }

        div {
            display: flex;
            flex-direction: column;
            gap: 3px;
            position: relative;

            label {
                font-weight: 500;
                font-size: 15px;
            }

            input {
                border: 1px solid rgb(219, 219, 219);
                border-radius: 2px;
                padding: 10px;
                font-size: 0.8rem;
                background-color: rgb(250, 250, 250);
                outline: none;
                min-width: 250px;

                &:hover {
                    border: 1px solid rgb(175, 175, 175);
                }

                &:focus+label,
                &:not(:placeholder-shown)+label {
                    top: -10px;
                    background-color: white;
                    border-radius: 5px;
                }
            }

            label {
                position: absolute;
                left: 10px;
                top: 10px;
                color: #888;
                font-size: 13px;
                pointer-events: none;
                transition: 0.2s ease all;
                padding: 0 4px;
            }


        }



        .login-btn {
            transition: all 0.1s ease-in-out;
            margin-top: 10px;
            color: white;
            background-color: black;
            border: 2px solid white;
            font-weight: 550;

            &:hover {

                color: black;
                background-color: white;
                border: 2px solid black;
                cursor: pointer;
            }
        }

        section {
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid rgb(219, 219, 219);
            width: 100%;
        }

        @media (max-width:520px) {
            border: none;
        }
    }

    p {
        color: rgb(155, 155, 155);
        font-weight: 500;

    }


}