#register-page {


    form {
        display: flex;
        flex-direction: column;
        gap: 18px;
        border: 1px solid rgb(219, 219, 219);

        h2 {

            font-weight: 600;
            font-size: 2.2rem;
            align-self: center;
        }

        h4 {
            color: #737373;
            font-weight: 500;
            font-size: 0.9rem;
        }

        div {
            display: flex;
            flex-direction: column;
            gap: 3px;
            position: relative;

            input {
                border: 1px solid rgb(219, 219, 219);
                border-radius: 2px;
                padding: 8px 10px;
                font-size: 0.8rem;
                background-color: rgb(250, 250, 250);
                outline: none;

                &:hover {
                    border: 1px solid rgb(175, 175, 175);
                }

                &:focus {
                    border: 1px solid rgb(115, 115, 115);
                }

                &:focus+label,
                &:not(:placeholder-shown)+label {

                    top: -10px;
                    background-color: white;
                    border-radius: 10px;
                }
            }

            label {
                position: absolute;
                top: 10px;
                left: 10px;
                font-size: 13px;
                pointer-events: none;
                transition: all 0.2s ease;
                outline: none;
                color: #888;
                padding: 0 6px;
            }

            #signup-verify-btn {
                border: none;
                outline: none;
                background: transparent;
                font-size: 12px;
                font-weight: 600;
                transition: all 0.1s ease-in-out;

                &:hover {
                    text-decoration: underline;
                    opacity: 0.8;
                    cursor: pointer;
                    transform: scale(1.05);
                }
            }

            .edit-email-btn {
                color: blue;
                position: absolute;
                top: 10px;
                right: 10px;
                transition: all 0.1s ease-in-out;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.2);
                }
            }

            .signup-otp-verify-btn {
                color: #1877F2;
                padding: 5px 10px;
                font-size: 12px;
                font-weight: 600;
                border-radius: 2px;
                border: none;
                outline: none;
                width: fit-content;
                transition: all 0.2s ease-in-out;
                align-self: flex-end;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.1);
                }
            }
        }

        .signup-btn {
            transition: all 0.1s ease-in-out;
            margin-top: 10px;
            color: white;
            background-color: black;
            border: 2px solid white;
            font-weight: 550;

            &:hover {

                color: black;
                background-color: white;
                border: 2px solid black;
                cursor: pointer;
            }
        }

        section {
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid rgb(219, 219, 219);
            width: 100%;
        }

        @media (max-width:520px) {
            border: none;
            width: 100%;
        }
    }

    p {
        color: rgb(155, 155, 155);
        font-weight: 500;

    }


}